.project-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin: 40px auto;
  flex-wrap: wrap;
}
.card {
  min-height: fit-content;
  min-height: -moz-fit-content;
  padding: 8px;
  height: 340px;
  width: 265px;
  border: 1px solid var(--slate);
  border-radius: 6px;

}
.card-header {
  text-transform: capitalize;
}

.card-body {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px;
}

.card-body p {
  margin: 0;
  font-size: 13px;
}
.card-image{
  margin: 10px auto;
}
.card-image img{
  border-radius: 10px;
}
.card-body .technologies{
  display: flex;
  gap: 6px;
  flex-wrap: nowrap;
  overflow: hidden;
  text-wrap: nowrap;
  margin: 7px 0;
}
.technologies small{
  padding: 3px 7px;
  font-size: 9px;
  background: gray;
  color: #fbf8f8;
  border-radius: 20px;
}

.card .card-header h3 {
  margin: 0;
}
.card-footer div {
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card .card-body img {
  height: 155px;
  width: 205px;
}